@import "../mixins.scss";

.box {
  @include mainRoutedComponent;
}
.announcements_table {
  @include table;
  .table_header {
    @include tableRow;
    height: 5vh;
    .date {
      @include descriptiveTableCell;
    }
    .announcement {
      @include descriptiveTableCell;
    }
  }
  .table_item {
    @include tableRow;
    min-height: 10vh;
    .date {
      @include descriptiveTableCell;
    }
    .announcement {
      @include informativeTableCell;
      display: flex;
      flex-direction: column;
      .announcement_header {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        font-weight: 500;
        justify-content: flex-start;
        text-indent: 1vw;
        padding-top: 0.5vw;
      }
      .announcement_content {
        width: 100%;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 1vw;
      }
    }
  }
  .date {
    width: 10%;
  }
  .announcement {
    width: 90%;
  }
}
